@model MyFilms.Models.ListsViewModels.FilmModel[]
@{
    ViewData["Title"] = "TopLists";
}

<h2>Top Rated Films</h2>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="row"></th>
        <th scope="row">Title</th>
        <th scope="row">Imdb rating</th>
    </tr>
    </thead>
    @foreach (var film in Model)
    {
        <tr>
            <td>
                <img src="@film.PosterLink" alt="Poster image"/>
            </td>
            <td style="vertical-align: middle">@film.Name (@film.Year)</td>
            <td style="text-align: center; vertical-align: middle">@film.ImdbRating</td>
        </tr>
    }
</table>

